[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/erostamas
[access "refs/for/refs/*"]
	read = group user/erostamas
	push = group user/erostamas
	label-Code-Review = -2..+2 group user/erostamas
	label-Verified = -1..+1 group user/erostamas
	rebase = group user/erostamas
	removeReviewer = group user/erostamas
	submit = group user/erostamas
[access "refs/heads/*"]
	read = group user/erostamas
	create = group user/erostamas
	push = +force group user/erostamas
	pushMerge = group user/erostamas
[access "refs/tags/*"]
	push = group user/erostamas
	push = +force group user/erostamas
